.product__container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap : 5px;
    height: 269px;
    cursor: pointer;
}
.product{
    padding: 2px;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
}
.product >img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.product > p{
    font-size: 12px;
}